*{
    margin: 0px;
    padding: 0px;
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background:white;
    color: black;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(./girlCoffee.jpg);
    background-size:cover ;
    background-position: center;
    background-color: rgba(201, 196, 196, 0.932) ;


}
.container{
    padding: 10px 10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #262626;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
    
}
.header-text h1{
    font-size: 60px;
    margin-bottom: 10px;

}
.header-text h1 span{
    color:#262626 ;
}
/* about */
#about{
    padding: 80px opx;
    color:black;
    background-color: rgba(201, 196, 196, 0.932) ;

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.abtCol-1{
    flex-basis: 35%;

}
.abtCol-1 img{
    width: 100%;
    border-radius: 15px;
}
.abtCol-2{
    flex-basis: 60%;

}
.subtitile{
    font-size: 60px;
    font-weight: 600;
    color: black;
}
.tabTitles{
    display: flex;
    margin: 20px 0 40px;
}
.tabLinks{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500px;
    cursor: pointer;
    position: relative;

}
.tabLinks::after{
    content: '';
    width: 0px;
    height: 3px;
    background: #262626;
    position: absolute;
    left: 0px;
    bottom: -8px;
    transition: .5s;
}
.tabLinks.active-link::after{
    width: 50%;
}
.tabContents ul li{
    list-style: none;
    margin: 10px  0;


}
.tabContents ul li span{
    font-weight: bold;
    font-size: 14px;
}
.tabContents{
    display: none
}
.tabContents.active-tab{
    display: block;
}
/* .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    gap: 20px;
}
.grid-item {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 300px;
    justify-content: center;
    align-content: space-between;
    border-color: brown;
    border-radius: 20%;
} */
 /* skills */
.skills{
    padding: 30px 0;


}
.skill-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 40px;
    margin-top: 50px;
}
.skill-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
}
.skill-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.skill-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.skill-list div:hover{
    background-color: rgba(201, 196, 196, 0.932);
    transform: translateY(-10px);
}
/* contact */
#contact{
    /* padding-bottom: 230px;
    margin-top: 192px; */
    /* border: 2px solid black; */
    padding: 20px;
    margin-left: 480px;
    width: 290px;
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
}
.sub-title{
    padding-bottom: 230px;
    margin-top: 192px;
    text-align: center;
    padding: 30px;
    font-size: 35px;
    /* padding: 20px; */
    /* margin-left: 480px; */
    width: 290px;
    display: flex;
    align-items: center;
}
.contact-left{
    flex-basis: 35%;

}

.contact-rigth{
    flex-basis: 60%;

}
.contact-left p{
    margin-top: 30px;

}
.contact-left p i{
    color: #262626;
    margin-right: 15px;
    font-size: 25px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #262626;
    display: inline-block;

}
.btn2{
    display: inline-block;
    background: #262626;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    
}

    
